*{
    box-sizing: border-box;
}
.cont{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #eee; */
}
/* Small */
@media (min-width: 768px) {
    .cont{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .cont{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .cont{
        width: 1170px;
    }
}

.header{
    padding: 20px;
}

.header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .has{
    display: ;
    : 100px;
}
.header .links .to  .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .to  .icon span{
    background-color: black;
    margin-bottom: 5px;
}
.header .links .to  .icon span:not(:nth-child(2)){
     height: 3px;
     width: 100%;
}
.header .links .to  .icon span:nth-child(2){
    height: 3px;
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .to:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .to ul{
    list-style: none;
    display: none;
}
.header .cont .links .to ul::before{
    content: "";
    border-color: transparent  transparent black transparent;
    border-width: 20px;
    border-style: solid;
    position: relative;
    top: -19px;
    left: 50px;
}
.header .links .to:hover ul{
    display: block;
}
.header .links .to{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header .links .to ul li{
    background-color: rgb(92, 88, 88);
    border-bottom: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .links .to ul li a{
    color: white;
    text-decoration: none;
}








































